# Basic Analysis

In [1]:
import pandas as pd

In [2]:
oo = pd.read_csv('data/olympics.csv',skiprows=4)
oo.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

### 1.In which events did Jesse Owens win a medal?

### 2.Which country has won men's gold medals in singles badminton over the years? Sort the results alphabetically by the player's  names.

### 3.Which three countries have won the most medals in recent years (from 1984 to 2008)?

### 4.Display the male gold medal winners for the 100m sprint event over the years. List the results starting with the most recent. Show the Olympic City, Edition, Athlete and the country they represent.